body{
    background-color: dodgerblue;
}

#pixel{
    box-sizing: border-box;
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(97, 198, 232);
    
}

#pixel.currentlyHovered{
    background-color: rgb(0, 77, 171);
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    text-align: center;
}

